<a href="https://colab.research.google.com/github/youssefkhalaf77/iti-lab-one/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num1 = 3
num2 = 4
num3 = 5


print("a)", num1 + num2)

print("b)", num3 - num1)
print("c)", num1 * num2 + num3)

print("d)", num1 * (num2 + num3))

print("e)", num3 / num1)

print("f)", num3 // num1)

print("g)", num3 % num1)

a) 7
b) 2
c) 17
d) 27
e) 1.6666666666666667
f) 1
g) 2

In [4]:
x, y, z, g = 1, 2, 3, 4
print("a)", x + y * z / g)
print("b)", y ** z)

a) 2.5
b) 8

In [3]:
num1 = 3.0
num2 = 4.0
num3 = 5.0

print("a)", num1 + num2)
print("b)", num3 - num1)
print("c)", num1 * num2 + num3)
print("d)", num1 * (num2 + num3))
print("e)", num3 / num1)
print("f)", num3 // num1)
print("g)", num3 % num1)

--- Float Numbers ---
a) 7.0
b) 2.0
c) 17.0
d) 27.0
e) 1.6666666666666667
f) 1.0
g) 2.0

In [5]:
str_a = "Python"
str_b = " is a "
str_c = "times fun language"
num = 1000


str_ab = str_a + str_b + str_c
print("a)", str_ab)

str_al = str_a * 10
print("b)", str_al)

a) Python is a times fun language
b) PythonPythonPythonPythonPythonPythonPythonPythonPythonPython

In [6]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [7]:
score = int(input("Enter your score (0-100): "))
if score >= 50:
    print("Pass")
else:
    print("Fail")

Enter your score (0-100): 40
Fail

In [8]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
largest = max(a, b, c)
print("Largest number is:", largest)

Enter first number: 2
Enter second number: 5
Enter third number: 0
Largest number is: 5.0

In [10]:
for i in range(0, 11):
    print(i, end=" ")
print()

0 1 2 3 4 5 6 7 8 9 10

In [11]:
score = int(input("Enter your score: "))
if 90 <= score <= 100:
    grade = "A"
elif 80 <= score <= 89:
    grade = "B"
elif 70 <= score <= 79:
    grade = "C"
elif 60 <= score <= 69:
    grade = "D"
else:
    grade = "F"
print("Your grade is:", grade)

Enter your score: 88
Your grade is: B

In [13]:
num = int(input("Enter a number for multiplication table: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Enter a number for multiplication table: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
sum_even = 0
for i in range(1, 51):
    if i % 2 == 0:
        sum_even += i
print("Sum of even numbers between 1 and 50:", sum_even)

Sum of even numbers between 1 and 50: 650

In [24]:
n = int(input("Enter a number to find factorial: "))
factorial = 1
count = 1
while count <= n:
    factorial *= count
    count += 1
print("Factorial:", factorial)

Enter a number to find factorial: 8
Factorial: 40320